body{
	background-color: gray;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("brasil.jpeg");
	background-attachment: scroll;
}

h1{
	color: white;
	font-family: arial;
	font-size: 30px;
	background-color: black;
	text-align: center;
}
p{
	color: white;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 12;
}