#main{
	width: 100%;
	height: 90%;
}

#topo{
	background-color: yellow;
	width: 100%;
	height: 50px;

}

#esquerda{
	float: left;
	background-color: red;
	width: 150px;
	height: 100%;
}

#conteudo{
	background-color: green;
	width: 100%;
	height: 100%
}

#bottom{
	background-color: black;
	width: 100%;
	height: 20px;
}

h1{
	font-size: 30px;
	text-align: center;
	color: white;
}